.dashboard {
    margin: 2em;
    width: 100%;

    display: grid;
    grid-template-areas: 
        "todo quote quote"
        "todo goals habits"
        "todo extra habits";
    grid-template-rows: 1fr 4fr 3fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5em;
    row-gap: 1.5em;

    text-align: center;
}

.dashboard div h3 {
    padding: 1em 0;
}

.dashboard .feature {
    background-color: #f4f4f4;
    border-radius: 1rem;
    filter: drop-shadow(5px 5px 5px #0000008c);

}

.dashboard .scroll {
    overflow-y: auto;
    max-height: 100%;
    box-sizing: border-box;
}

.dashboard .todo {
    grid-area: todo;
}

.dashboard .quote {
    grid-area: quote;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard .goals {
    grid-area: goals;
}

.dashboard .habits {
    grid-area: habits;
}

.dashboard .extra {
    grid-area: extra;

    /* Remove after adding feature */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.loading {
    display: flex;
    justify-content: center;
    margin-top: 8em;
    max-height: 100vh;
    width: 100vw;
}




/* Tablet styles */
@media (max-width: 1024px) {
    .dashboard {
        grid-template-areas: 
        "todo quote quote"
        "todo goals habits"
        "todo goals habits";
        grid-template-rows: 2.5fr 4fr 3fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .dashboard .extra {
        display: none
    }
}


@media (max-width: 768px) {
    .dashboard {
        grid-template-areas:
            "quote"
            "todo"
            "goals"
            "habits"
            "extra";
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }

    .dashboard .scroll {
        border-radius: 0.5rem;
        min-height: 8em;
    }
    .dashboard .feature {
        border-radius: 0.5rem;
        min-height: 8em;
    }

    .dashboard div h3 {
        font-size: 1.2rem;
    }
}