.login, .signup {
    display: flex;
}

.left {
    background-image: url('../images/Login-background.jpg');
    width: 50%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-filter: drop-shadow(2px 2px 2px #000000);
        filter: drop-shadow(2px 2px 2px #0000008c);
}

.right{

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 50%;

    background-image:
    linear-gradient(
      to top right, 
      rgb(127, 246, 59), #6fdcda
    );
    

}

.left h1 {
    font-size: 4.5rem;
    color: white;
    margin-top: 2.8em;
    text-align: center;
    -webkit-filter: drop-shadow(5px 5px 5px #000000);
        filter: drop-shadow(5px 5px 5px #0000008c);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5em;
    margin: 3em;
    background-color: white;
    -webkit-filter: drop-shadow(5px 5px 5px #000000);
        filter: drop-shadow(5px 5px 5px #0000008c);
}

.form form, input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0.5em;
    -webkit-filter: drop-shadow(1px 1px 1px #000000);
        filter: drop-shadow(1px 1px 1px #0000008c);

}