.login, .signup {
    display: flex;
}

.left {
    background-image: url('../images/Login-background.jpg');
    width: 50%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(2px 2px 2px #0000008c);
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 50%;

    background-image:
    linear-gradient(
      to top right, 
      rgb(127, 246, 59), #6fdcda
    );
    
}

.left h1 {
    font-size: 4.5rem;
    color: white;
    margin-top: 2.8em;
    text-align: center;
    filter: drop-shadow(5px 5px 5px #0000008c);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5em;
    margin: 3em;
    background-color: white;
    filter: drop-shadow(5px 5px 5px #0000008c);
}

.form form, input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0.5em;
    filter: drop-shadow(1px 1px 1px #0000008c);
    
}



@media (min-width: 1025px) {
    .right h1 {
        display: none;
    }
}

@media (max-width: 1024px) {
    .login {
        flex-direction: column;
    }
    .left {
        display: none;
    }
    .right {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .right h1 {
        font-size: 3.5rem;
        color: white;
        margin-bottom: 1em;
        text-align: center;
        filter: drop-shadow(5px 5px 5px #0000008c);
    }
}

@media (max-width: 480px) {
    .right h1 {
        font-size: 2.5rem;
        margin-top: 1em;
    }
    .form {
        padding: 2em;
        margin: 2em;
    }
}